* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #252525;
  background: #f8f8f6;
}

/* =========================
   GORNJA NAVIGACIJA
========================= */

.top {
  height: 70px;

  border-bottom: 1px solid #222;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
}

.logo {
  font-size: 13px;
  font-weight: bold;
  line-height: 0.9;
}

nav {
  display: flex;
  gap: 35px;
}

nav a {
  text-decoration: none;
  color: #222;

  font-size: 12px;

  transition: 0.2s;
}

nav a:hover {
  opacity: 0.5;
}

/* =========================
   HERO
========================= */

.hero {
  min-height: 600px;

  display: grid;
  grid-template-columns: 50% 50%;

  border-bottom: 1px solid #222;
}

.hero-text {
  padding: 70px 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.small-text {
  font-size: 11px;
  letter-spacing: 2px;
}

.hero h1 {
  font-size: clamp(55px, 7vw, 110px);

  line-height: 0.83;

  letter-spacing: -5px;

  margin-top: 50px;
}

.description {
  max-width: 320px;

  font-size: 13px;
  line-height: 1.5;

  margin-top: 50px;
}

.gumb {
  display: inline-block;

  background: #292929;
  color: white;

  text-decoration: none;

  padding: 15px 22px;

  font-size: 11px;

  width: fit-content;

  margin-top: 30px;

  transition: 0.3s;
}

.gumb:hover {
  background: #777;
}

/* =========================
   MARQUEE
========================= */

.marquee {
  height: 100px;

  display: flex;
  align-items: center;

  white-space: nowrap;

  overflow: hidden;

  border-bottom: 1px solid #222;

  font-size: clamp(35px, 5vw, 75px);

  font-weight: bold;

  letter-spacing: -3px;
}

/* =========================
   ZADAĆE
========================= */

.radovi {
  padding: 80px 30px;
}

.naslov p {
  font-size: 11px;
  letter-spacing: 2px;

  margin-bottom: 10px;
}

.naslov h2 {
  font-size: clamp(60px, 10vw, 150px);

  line-height: 0.8;

  letter-spacing: -7px;

  margin-bottom: 60px;
}

.grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 1px;

  background: #222;

  border: 1px solid #222;
}

.rad {
  min-height: 330px;

  background: #f8f8f6;

  text-decoration: none;

  color: #222;

  padding: 25px;

  position: relative;

  display: flex;

  flex-direction: column;

  justify-content: space-between;

  transition: 0.3s;
}

.rad:hover {
  background: #333;
  color: white;
}

.broj {
  font-size: 12px;
}

.ikona {
  font-size: 80px;

  font-weight: 100;

  text-align: center;
}

.rad-info p {
  font-size: 10px;
  letter-spacing: 2px;
}

.rad-info h3 {
  font-size: 28px;

  margin: 8px 0 20px;

  letter-spacing: -1px;
}

.rad-info span {
  font-size: 10px;
}

/* =========================
   PROJEKTI
========================= */

.projekti {
  min-height: 650px;

  display: grid;

  grid-template-columns: 55% 45%;

  background: #383838;

  color: white;
}

.projekt-slika {
  order: 2;
}

.projekt-slika img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.projekt-text {
  padding: 50px 35px;

  display: flex;

  flex-direction: column;

  justify-content: space-between;
}

.projekt-text > p:first-child {
  font-size: 11px;
  letter-spacing: 2px;
}

.projekt-text h2 {
  font-size: clamp(60px, 8vw, 120px);

  line-height: 0.8;

  letter-spacing: -6px;
}

.projekt-opis {
  max-width: 300px;

  font-size: 13px;

  line-height: 1.5;
}

.bijeli {
  background: white;
  color: #222;
}

.bijeli:hover {
  background: #ccc;
}

/* =========================
   PROJEKT KARTICE
========================= */

.projekt-lista {
  display: grid;

  grid-template-columns: 1fr 1fr;

  border-bottom: 1px solid #222;
}

.projekt-kartica {
  min-height: 350px;

  padding: 30px;

  color: #222;

  text-decoration: none;

  border-right: 1px solid #222;

  display: flex;

  flex-direction: column;

  justify-content: space-between;

  transition: 0.3s;
}

.projekt-kartica:last-child {
  border-right: none;
}

.projekt-kartica:hover {
  background: #222;
  color: white;
}

.projekt-kartica span {
  font-size: 12px;
}

.projekt-kartica h3 {
  font-size: clamp(35px, 5vw, 70px);

  line-height: 0.9;

  letter-spacing: -3px;
}

.projekt-kartica p {
  font-size: 11px;
  letter-spacing: 2px;
}

.projekt-kartica b {
  font-size: 40px;

  align-self: flex-end;
}

/* =========================
   FOOTER
========================= */

footer {
  background: #222;

  color: white;

  min-height: 400px;

  padding: 50px 30px;

  display: flex;

  justify-content: space-between;

  align-items: flex-end;
}

footer p {
  font-size: 11px;
  letter-spacing: 2px;
}

footer h2 {
  font-size: clamp(50px, 8vw, 110px);

  line-height: 0.8;

  letter-spacing: -5px;

  margin-top: 30px;
}

.footer-desno {
  text-align: right;
}

/* =========================
   MOBITEL
========================= */

@media (max-width: 700px) {
  .top {
    padding: 0 15px;
  }

  nav {
    gap: 12px;
  }

  nav a {
    font-size: 10px;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .hero-text {
    min-height: 550px;

    padding: 40px 20px;
  }

  .hero h1 {
    letter-spacing: -3px;
  }

  .hero-image {
    height: 400px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .radovi {
    padding: 60px 15px;
  }

  .projekti {
    grid-template-columns: 1fr;
  }

  .projekt-slika {
    order: 0;
    height: 400px;
  }

  .projekt-text {
    min-height: 550px;
    padding: 40px 20px;
  }

  .projekt-lista {
    grid-template-columns: 1fr;
  }

  .projekt-kartica {
    border-right: none;
    border-bottom: 1px solid #222;
  }

  footer {
    flex-direction: column;

    align-items: flex-start;

    gap: 100px;
  }

  .footer-desno {
    text-align: left;
  }
}
