body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aqua;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin-left: 375px;
}

input[type="submit"] {
  padding: 10px;
  border-radius: 3%;
}

table {
  border: 2px black solid;
}

tr,
th,
td {
  border: 2px black solid;
}
